<h1><%= @film.title %></h1>
<h2>A film by <%= @film.director %></h2>
<%= image_tag(@film.poster)%>
<p><%= @film.open %> </p>
<p><%= @film.synopsis %></p>

<iframe width="100%" height="540" src=<%= "//www.youtube.com/embed/#{@film.trailer}" %> frameborder="0" allowfullscreen>
</iframe>
<p> Budget: <%= @film.budget %> </p>
<p>Worldwide Gross <%= @film.gross %> </p>