<h1><%= @film.title %></h1>
<h2>A film by <%= @film.director %></h2>
<%= image_tag(@film.poster)%>
<p>Worldwide Premier<%= @film.open %> </p>
<p><strong>Synopsis:</strong><%= @film.synopsis %></p>

<iframe width="900" height="540" src=<%= "//www.youtube.com/embed/#{@film.trailer}" %> frameborder="0" allowfullscreen>
</iframe>
<p> Budget: $<%= @film.budget %> </p>
<p>Worldwide Gross $<%= @film.gross %> </p>

<%= link_to "Home", root_path %>